<!doctype html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>大逃杀行动提交</title>

<h3>提交行动</h3>
<p>
    {{ role.name }}，生命：<b style="color:red">{{ role.life }}</b>{% if role.injured > 0 %}（每晚结束减10）{% endif %}，
    体力：{{ role.strength }}，当前位置：{{ role.location }}<br/>
    手中道具：{{ role.hands | join(' ') }}，
    背包道具：{% for item in role.things %}{{ item }}({{ items.get(item, [9, 1])[1] }}次) {% endfor %}
</p>
<form action="{{ send_url }}" method="POST">
    <p>
        <label><input type="radio" name="action" value="move" />移动到</label>
        <select name="move_to">
            <option value="">选择</option>
            {% for place in places %}
            <option value="{{ place.name }}">{{ place.name }}</option>
            {% endfor %}
        </select> 
    </p>
    <p>
        <label><input type="radio" name="action" value="search" />搜索</label>
    </p>
    <p>
        <label><input type="radio" name="action" value="pick" />捡拾</label>
    </p>
    <p>
        <label><input type="radio" name="action" value="attack" />攻击</label>
    </p>
    <p>
        <label><input type="radio" name="action" value="equip" />从背包拿到手里</label>
        <select name="equip_item">
            <option value="">选择</option>
            {% for item in role.things %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select> 
    </p>
    <p>
        <label><input type="radio" name="action" value="use" />使用手里的</label>
        <select name="use_item">
            <option value="">选择</option>
            {% for item in role.hands %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select> 
    </p>
    <p>
        <label><input type="radio" name="action" value="send" />对话导演</label>
        <input type="text" name="content" placeholder="对话内容" size="30"/>
    </p>
    <p><input type="submit" value="提交" /></p>
</form>

<h3>历史行动</h3>
{% for message in messages | reverse %}
    <p>
        {{ message.time }} 角色 <b>{{ message.from }}</b> 对 <b>{{ message.to }}</b> 说：<br/>
        {{ message.content }}
    </p>
{% endfor %}

<script>
    function setCaretPosition(input, pos){
        if (input.setSelectionRange){
            setTimeout(function() {
                input.setSelectionRange(pos, pos);
                input.focus();
            }, 5);
        }
    }

    function refresh() {
        const text = document.getElementById("content").value;
        location.href = location.pathname + "?content=" + text;
    }

    //const input = document.getElementById("content");
    //setCaretPosition(input, input.value.length);
    setTimeout("location.reload(true);", 60000);
</script>
