<!doctype html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>大逃杀行动结算</title>
<style>
    td {
        border: 1px solid;
        padding: 5px;
    }
    table {
        border-collapse: collapse;
    }
</style>

<h3>手动反馈</h3>
<form action="{{ send_url }}" method="POST">
    <input type="hidden" name="action" value="send"/>
    <input type="text" name="to" placeholder="反馈对象" size="10"/>
    <input type="text" name="content" placeholder="反馈内容" size="30"/>
    <input type="submit" value="发送"/>
</form>

<h3>当前地点状态</h3>
<table>
    {% for place in places %}
    <tr>
        <td>{{ place.name }}</td>
        <td>{{ place.exists | join(' ') }}</td>
    </tr>
    {% endfor %}
</table>

<h3>当前人物状态</h3>
<table>
    {% for role in roles %}
    <tr>
        <td>{{ role.name }}</td><td>{{ role.location }}</td>
        <td>{{ role.life }}</td><td>{{ role.strength }}</td>
        <td>{{ role.hands | join(' ') }}</td><td>{{ role.things | join(' ') }}</td>
    </tr>
    {% endfor %}
</table>

<h3>历史行动</h3>
{% for message in messages | reverse %}
    {% if message.read %}
    <p>
    {% else %}
    <p style="color:blue">
    {% endif %}
        {{ message.time }} 角色 <b>{{ message.from }}</b> 对 <b>{{ message.to }}</b> 说：<br/>
        {{ message.content }}
    </p>
{% endfor %}
