<!doctype html>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>大逃杀行动结算</title>
<style>
    td {
        border: 1px solid;
        padding: 5px;
    }
    table {
        border-collapse: collapse;
    }
    input, select {
        font-size: 15px;
        margin-left: 2px;
        margin-right: 2px;
        padding: 2px;
    }
</style>

<h3>手动操作</h3>
<form action="{{ send_url }}" method="POST">
    <input type="hidden" name="action" value="send"/>
    <input type="text" name="to" placeholder="反馈对象" size="10"/>
    <input type="text" name="content" placeholder="反馈内容" size="30"/>
    <input type="submit" value="发送"/>
</form>
<form action="{{ admin_url }}" method="POST">
    <p>
        <label><input type="radio" name="action" value="start" />开始行动</label>
    </p>
    <p>
        <label><input type="radio" name="action" value="end" />结束行动（同时结算静养、持续伤害、体力恢复、道具恢复）</label>
    </p>
    <p>
        <label><input type="radio" name="action" value="save" />存盘</label>
    </p>
    <p>
        <label><input type="radio" name="action" value="jump" />跳转到演员视角</label>
        <input type="text" name="jump_target" placeholder="角色名称" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="vote" />缴械</label>
        <input type="text" name="vote_target" placeholder="角色名称" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="destroy" />缩圈</label>
        <input type="text" name="destroy_place" placeholder="区域" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="drop" />空投</label>
        <input type="text" name="drop_item" placeholder="道具" size="10"/>
        <input type="text" name="drop_place" placeholder="区域" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="weather" />调整天气（搜索到人物能看到是谁的概率）</label>
        <input type="number" min="0" max="1" step="0.1" name="weather_new" value="{{ globals.weather }}" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="life" />加减生命</label>
        <input type="text" name="life_target" placeholder="角色名称" size="10"/>
        <input type="text" name="life_value" placeholder="数值（正/负）" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="strength" />加减体力</label>
        <input type="text" name="strength_target" placeholder="角色名称" size="10"/>
        <input type="text" name="strength_value" placeholder="数值（正/负）" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="move" />移动角色</label>
        <input type="text" name="move_target" placeholder="角色名称" size="10"/>
        <input type="text" name="move_place" placeholder="目的地" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="give" />增减道具</label>
        <input type="text" name="give_target" placeholder="角色名称" size="10"/>
        <input type="text" name="give_item" placeholder="道具名称" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="born" />随机出生</label>
    </p>
    <p>
        <label><input type="radio" name="action" value="rope" />捆绑（禁止行动）</label>
        <input type="text" name="rope_target" placeholder="角色名称" size="10"/>
    </p>
    <p>
        <label><input type="radio" name="action" value="unrope" />松绑（取消禁令）</label>
        <input type="text" name="unrope_target" placeholder="角色名称" size="10"/>
    </p>
    <p><input type="submit" value="提交" />&nbsp;<input type="reset" value="重置"></p>
</form>

<h3>当前地点状态</h3>
<table>
    {% for place in places %}
    <tr>
        <td>{{ place.name }}</td>
        <td>{{ place.exists | join(' ') }}</td>
    </tr>
    {% endfor %}
</table>

<h3>当前人物状态</h3>
<table>
    {% for role in roles %}
    <tr>
        <td>{{ role.name }}</td><td>{{ role.life }}</td>
        <td>{{ role.strength }}</td><td>持有{{ role.vote }}票</td>
        <td>{{ role.location }}</td>
        <td>{{ role.hands | join(' ') }}</td>
        <td>{% for item in role.things %}{{ item }}({{ items.get(item, [9, 1])[1] }}次) {% endfor %}</td>
    </tr>
    {% endfor %}
</table>

<h3>历史行动</h3>
{% for message in messages | reverse %}
    {% if message.read %}
    <p>
    {% else %}
    <p style="color:blue">
    {% endif %}
        {{ message.time }} 角色 <b>{{ message.from }}</b> 对 <b>{{ message.to }}</b> 说：<br/>
        {{ message.content }}
    </p>
{% endfor %}
